@layer library {
  .phoneInput {
    position: relative;

    &NumberInput {
      outline: none;
      border: none;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }
    }

    &Trigger {
      background: none;
      border: none;

      & * {
        pointer-events: none;
      }
    }

    &Dialog {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      overflow: auto;
      max-height: 800px;

      &Open {
        display: block;
      }

      &Portal {
        position: static;
      }
    }
  }

  .portal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
