.phoneInput {
  position: relative;

  .countrySelect {
    &Dialog {
      display: none;
      position: absolute;
      top: 0;
      left: 0;

      &Open {
        display: block;
      }
    }
  }
}
